body .swal2-container {
  z-index: 99999 !important;
}

body .swal2-popup {
  z-index: 99999 !important;
}

body .swal2-backdrop-show {
  z-index: 99998 !important;
}

.custom-swal-popup {
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(var(--tertiary-color-rgb),0.25);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.custom-swal-popup .swal2-close {
  color: var(--primary-color) !important;
}

.custom-swal-popup .swal2-close:hover {
  color: rgba(var(--primary-color-rgb), 0.7) !important;
}

.custom-swal-popup .swal2-close:focus {
  box-shadow: none !important;
}

.custom-confirm-button {
  color: var(--tertiary-color);
  background-color: var(--primary-color); 
}

.custom-cancel-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color); 
  background-color: var(--tertiary-color);
}

.custom-confirm-button:hover {
  background-color: rgba(var(--primary-color-rgb),0.8);
}

.custom-cancel-button:hover {
  background-color: rgba(var(--tertiary-color-rgb),0.1);
}