@import "tailwindcss";

:root {
  --main-bg-color: #FFFFFF;
  --primary-color: #388087;
  --primary-color-rgb: 56, 128, 135;
  --secondary-color: #000000;
  --secondary-color-rgb: 0, 0, 0;
  --tertiary-color: #FFFFFF;
  --tertiary-color-rgb: 255, 255, 255;
  --danger-color: #DB2740;
  --danger-color-hover: #AF1F33;
  --text-color: #1A2E35;
  --current-date-highlight-bg-color: #E9E9E9;
  --hyper-text-color: #9799CD;
  --has-filter-color: #FFF7ED;
  --has-filter-bg-color: #F59E0B;
  --percent-text-color: #4A4A4A;
  --text-chart-table-color: #124692;
  --total-bg-color: #F0F2F5;
  --border-chart-color: #DBDCDE;
  --waiting-approve-bg-color: #FEBE43;
  --waiting-approve-bg-color-rgb: 254, 190, 67;
  --not-approve-bg-color: #9f0c0c;
  --not-approve-bg-color-rgb: 159, 12, 12;
  --approve-bg-color: #2fa534;
  --approve-bg-color-rgb: 46, 165, 52;
  --trash-icon: #555555;
  --trash-active-icon: #9F0C0C;
}

* {
  scrollbar-color: var(--primary-color) transparent;
  font-family: "Noto Sans Thai", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}
